In [1]:
from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
from datetime import datetime
import pandas as pd
from src.data_utils import load_and_process_taxi_data

from_year = 2023
# to_year = datetime.now().year
to_year = 2024
print(f"Download raw data from {from_year} to {to_year}")

rides = pd.DataFrame()
chunks = []
for year in range(from_year, to_year+1):

    rides_one_year = load_and_process_taxi_data(year)

    chunks.append(rides_one_year)
    break

# Concatenate all chunks at the end
rides = pd.concat(chunks, ignore_index=True)
print("Data loading complete.")

Download raw data from 2023 to 2024
File already exists for 2023-01.
Loading data for 2023-01...
Total records: 3,066,766
Valid records: 2,993,140
Records dropped: 73,626 (2.40%)
Successfully processed data for 2023-01.
File already exists for 2023-02.
Loading data for 2023-02...
Total records: 2,913,955
Valid records: 2,845,058
Records dropped: 68,897 (2.36%)
Successfully processed data for 2023-02.
File already exists for 2023-03.
Loading data for 2023-03...
Total records: 3,403,766
Valid records: 3,331,705
Records dropped: 72,061 (2.12%)
Successfully processed data for 2023-03.
File already exists for 2023-04.
Loading data for 2023-04...
Total records: 3,288,250
Valid records: 3,214,922
Records dropped: 73,328 (2.23%)
Successfully processed data for 2023-04.
File already exists for 2023-05.
Loading data for 2023-05...
Total records: 3,513,649
Valid records: 3,435,875
Records dropped: 77,774 (2.21%)
Successfully processed data for 2023-05.
File already exists for 2023-06.
Loading data for 2023-06...
Total records: 3,307,234
Valid records: 3,233,969
Records dropped: 73,265 (2.22%)
Successfully processed data for 2023-06.
File already exists for 2023-07.
Loading data for 2023-07...
Total records: 2,907,108
Valid records: 2,838,637
Records dropped: 68,471 (2.36%)
Successfully processed data for 2023-07.
File already exists for 2023-08.
Loading data for 2023-08...
Total records: 2,824,209
Valid records: 2,758,739
Records dropped: 65,470 (2.32%)
Successfully processed data for 2023-08.
File already exists for 2023-09.
Loading data for 2023-09...
Total records: 2,846,722
Valid records: 2,782,920
Records dropped: 63,802 (2.24%)
Successfully processed data for 2023-09.
File already exists for 2023-10.
Loading data for 2023-10...
Total records: 3,522,285
Valid records: 3,446,406
Records dropped: 75,879 (2.15%)
Successfully processed data for 2023-10.
File already exists for 2023-11.
Loading data for 2023-11...
Total records: 3,339,715
Valid records: 3,267,940
Records dropped: 71,775 (2.15%)
Successfully processed data for 2023-11.
File already exists for 2023-12.
Loading data for 2023-12...
Total records: 3,376,567
Valid records: 3,313,957
Records dropped: 62,610 (1.85%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!
Data loading complete.

In [4]:
rides

             pickup_datetime  pickup_location_id
0        2023-01-01 00:32:10                 161
1        2023-01-01 00:55:08                  43
2        2023-01-01 00:25:04                  48
3        2023-01-01 00:03:48                 138
4        2023-01-01 00:10:29                 107
...                      ...                 ...
37463263 2023-12-31 23:04:34                 233
37463264 2023-12-31 23:08:15                  48
37463265 2023-12-31 23:16:15                 196
37463266 2023-12-31 23:21:58                 140
37463267 2023-12-31 23:10:47                 237

[37463268 rows x 2 columns]

In [5]:
rides.shape

(37463268, 2)

In [6]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)

In [7]:
ts_data.shape

(2277600, 3)

In [8]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277600 entries, 0 to 2277599
Data columns (total 3 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_hour         datetime64[ns]
 1   pickup_location_id  int16
 2   rides               int16
dtypes: datetime64[ns](1), int16(2)
memory usage: 26.1 MB

In [9]:
ts_data

                pickup_hour  pickup_location_id  rides
0       2023-01-01 00:00:00                   2      0
1       2023-01-01 01:00:00                   2      0
2       2023-01-01 02:00:00                   2      0
3       2023-01-01 03:00:00                   2      0
4       2023-01-01 04:00:00                   2      0
...                     ...                 ...    ...
2277595 2023-12-31 19:00:00                 263    188
2277596 2023-12-31 20:00:00                 263    198
2277597 2023-12-31 21:00:00                 263    232
2277598 2023-12-31 22:00:00                 263    160
2277599 2023-12-31 23:00:00                 263     95

[2277600 rows x 3 columns]

In [10]:
import hopsworks

api_key = os.getenv('HOPSWORKS_API_KEY')  
project_name = os.getenv('HOPSWORKS_PROJECT_NAME')  

# pip install confluent-kafka
# Initialize connection to Hopsworks  
project = hopsworks.login(  
    api_key_value=api_key,  
    project=project_name  
)  
print(f"Successfully connected to Hopsworks project: {project_name}")

2025-03-04 16:22:33,214 INFO: Initializing external client
2025-03-04 16:22:33,217 INFO: Base URL: https://c.app.hopsworks.ai:443

ProjectException: Could not find project rockyglen/nyc_taxi